@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.ContactGlobal {
    width: 1160px;
    height: 282px;
    margin-top: 80px;
    margin-left: 150px;
    display: flex;
}