.services_block {
    margin: 10px;
    width: 373px;
    height: 373px;
    background-color: #333333;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color, opacity;
}
.services_block:hover {
    background-color: #535353;
}
.services_block:active {
    background-color: rgba(83, 83, 83, 0.1);
}