/*Обнуление отступов для UL*/
.zeroUl {
    padding-inline-start: 0;
    list-style-type: none;
    width: 497px;
    margin: 0 0 0 0;
    display: flex;
    justify-content: space-around;

}

/*Блок кнопок*/
.blockBtn {
    margin-top: 29px;
    margin-left: 105.09px;
    margin-bottom: 5px;
    width: 497px;
    height: 45px;
    display: flex;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*О нас*/
.headBtn {
    font-family: 'Montserrat', sans-serif; /* Основной шрифт */
    font-weight: 500; /* Средняя насыщенность */
    background-color: #1C1C1C;
    color: #fff;
    width: auto;
    height: 45px;
    border: none;
    cursor: pointer;
    list-style-type: none;
    display: flex;
    align-items: flex-start;
}
.headBtn:hover {
    opacity: 50%;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #EE364A;
}

