
.LogoHeader {
    /*position: relative;*/
    width: 228px;
    height: 46px;
    margin-left: 139px;
    margin-top: 17px;
}

/*.SportWork {*/
/*    position: absolute;*/
/*}*/

/*.And {*/
/*    left: 31px;*/
/*    position: absolute;*/
/*}*/

/*.palka {*/
/*    position: absolute;*/
/*    left: 122px;*/
/*}*/